* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: ubuntu;
  src: url("../css/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: ubuntu_italic;
  src: url("../css/fonts/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: ubuntu_bold;
  src: url("../css/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: ubuntu_medium;
  src: url("../css/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family:'Eras Bold ITC';
  src: url('assets/css/fonts/ERASBD.TTF');
}

body {
  background-color: #D3F5F4 !important;
  background-image: url("../images/asfalt-dark.png");
  font-family: ubuntu !important;
}

nav {
  background-color: #2E4773 !important;
}
nav img {
  height: 4.375rem;
}
nav .nav a {
  color: #D3F5F4 !important;
  font-family: ubuntu_medium;
  font-size: 1.125rem;
}
nav .nav a:hover {
  background-color: #D3F5F4 !important;
  color: #2E4773 !important;
}

.nav-item > a {
  line-height: 4rem;
}

nav .dropdown-menu {
  background-color: #47749C !important;
  color: #D3F5F4 !important;
  box-shadow: -0.1875rem 0.1875rem 0.4375rem 0.1875rem #393B41 !important;
}

main {
  min-height: calc(100vh - 8.125rem);
}

main h1 {
  color: #2E4773 !important;
}

label {
  font-family: ubuntu_bold;
}

.input-group-text {
  color: #D3F5F4 !important;
  background-color: #2E4773 !important;
  font-family: ubuntu_bold;
}

.td_endereco {
  width: 25rem;
}

main form select {
  width: 9.375rem;
}

main form textarea {
  padding: 0.3125rem;
  width: 31.25rem;
  /* height: 300px; */
  resize: none;
}

.lixeira {
  color: #fd0000;
}

.setas {
  color: #e64a19;
}

#center_num_processo {
  font-size: 30px;
  margin-bottom: 25px;
}

.form_pronto_label {
  font-size: 20px !important;
  color: #2E4773 !important;
}

.close_socio {
  color: #FF3D00 !important;
  position: relative;
  top: -54px;
  left: 907px;
  font-size: 30px;
}

.sim_add {
  color: #009688 !important;
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 30px;
}

.nao_add {
  color: #FF3D00 !important;
  position: relative;
  top: 5px;
  left: 11px;
  font-size: 30px;
}

.btn_submit {
  color: #D3F5F4 !important;
  background-color: #2E4773 !important;
  font-family: ubuntu_medium;
  width: auto;
}

.mensagem {
  color: #fd0000 !important;
  font-family: ubuntu_medium;
}

.btn_editar {
  color: #2E4773 !important;
  background-color: #f0e803 !important;
  font-family: ubuntu_medium;
  width: 150px;
  margin-right: 20px;
}

.btn_deletar {
  color: #D3F5F4 !important;
  background-color: #b42c03 !important;
  font-family: ubuntu_medium;
  width: 150px;
}

.line {
  border: 1px solid #2E4773 !important;
  margin-top: 20px;
}

.v_line {
  border-left: 1px solid #2E4773;
}

#observa {
  width: 1110px;
  height: 250px;
  resize: none;
}

#obs {
  height: auto;
  width: 919px;
}

.div_observa {
  margin-left: 15px
}

#arquivos {
  display: none;
}

#label_arquivos {
  border: 1px solid #2E4773;
  padding: 5px 5px;
  color: #D3F5F4;
  background-color: #2E4773;
  order: 999;
  border-radius: 3px;
  cursor: pointer;
}

.fa-plus-circle {
  font-size: 50px;
  position: fixed;
  top: 470px;
  left: 1200px;
  color: #2E4773;
  cursor: pointer;
}

.menu {
  margin-bottom: 25px;
}

.app {
  margin-top: 25px;
}

.home_flex {
  display: flex;
}

.niver {
  width: 25%;
}

.pagina {
  border: solid 1px #DFDFDF;
  padding: 25px !important;
  margin-top: 15px;
  width: 75%;
}

li.list-group-item {
  background-color: transparent;
}

li.list-group-item.active {
  background-color: #2E4773;
  border-color: #2E4773;
  border-left: solid 10px #2E4773;
}

li.list-group-item.active > a {
  color: #D3F5F4;
}

a li {
  color: #2E4773;
}

ul a:hover {
  text-decoration: none;
}

h4 {
  color: #2E4773;
}

.fa-trash-alt, .fa-edit, .fa-check-square {
  cursor: pointer;
}

.linha1 td {
  border: 1px solid black;
}

.form-control.numero_processo {
  background: none!important;
  border: none;;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  width: 110px;
}

.form-control.indicacao {
  background: none!important;
  border: none;
  font-size: 19px;
  font-weight: bold;
  padding-left: 0;
}

.form-control.inicio_processo {
  background: none!important;
  border: none;
  font-size: 19px;
  font-weight: bold;
  padding-left: 0;
}

.btn_edita_proc_comprador, .btn_edita_proc_vendedor {
  width: auto;
}

.aviso_proc_comprador, .aviso_proc_vendedor {
  display: none;
}

.arquivos_mensagem {
  font-size: 20px;
}

.links_certidoes {
  display: grid;
  grid-row-gap: 4.0625rem;
  grid-template-areas: 
    'receita_federal    justica_federal     tjmg'
    'justica_trabalho   tribunal_trabalho   receita_estadual'
    'caixa              caixa               caixa'
    ;
}

.link_certidao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_certidao img {
  width: 12.5rem;
}

.receita_federal {
  grid-area: receita_federal;
}

.justica_federal {
  grid-area: justica_federal;
}

.tjmg {
  grid-area: tjmg;
}

.justica_trabalho {
  grid-area: justica_trabalho;
}

.tribunal_trabalho {
  grid-area: tribunal_trabalho;
}

.receita_estadual {
  grid-area: receita_estadual;
}

.caixa {
  grid-area: caixa;
}


footer {
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #2E4773 !important;
  color: white;
}

@media print {
  .container {
    max-width: 842px;
  }
  .pesquisa, .line, .footer {
    display: none;
  }

  .title_espelho {
    background-color: darkgray;
  }

  .dados_comprador {
    border: 2px rgb(44, 40, 40) solid !important;
    border-collapse: collapse;
  }
}